* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #D6A2E8;
  color: white;
}

.heading{
  margin: 2rem;
  font-size: 4rem;
}

.placeholder{
  
  font-size: 64px;
}
input{
  font-size: 48px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 2rem;
}

.red{
  color: #B33771;
}

.hangman-container{
  max-width: 400px;
}

img{
  max-width: 100%;
}

.reset-btn{
  padding: 12px;
  background: #B33771;
  color:white;
  box-shadow: 2px 2px 5px #13131380;
  border: none;
  font-size: 25px;
  cursor: pointer;
  transition: all 400ms ease-in;
}

.reset-btn:hover{
  box-shadow: 0px 0px 3px #13131380;
  background: #882a56;
}